<%# <p id="notice"><%= notice %>

<div class="container index">
<h1>Episodes</h1>
    
<table class="listing table" summary='Episodes list'>
  <thead>
    <tr class='header'>
      <th scope="col">Course</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Order</th>
      <th scope="col">Video Link</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= episode.course.title if episode.course %></td>
        <td><%= episode.title %></td>
        <td><%= episode.description %></td>
        <td><%= episode.order %></td>
        <td><%= episode.video_link %></td>
        <td class="action">
          <%= link_to 'Show', episode_path(episode) %>
          <%= link_to 'Edit', edit_episode_path(episode) %>
          <%= link_to 'Destroy', delete_episode_path(episode) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Episode', new_episode_path, class: 'badge badge-primary action new' %>
