
<div class="center jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to our online courses platform. </h1>
        <div class="container">
            <p class="lead">Learn the latest skills to reach your professional goals!</p>
            <hr class="my-4">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <h5 class="card-title">Dream up</h5>
                    <p class="card-text">Ambition accepted. Learn the latest skills to reach your professional goals.
                    You will find Top instructors from around the world teach millions of students on our app. 
                    We provide the tools and skills to teach you what you love.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="What do you want to learn?" aria-label="What do you want to learn" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<article class="container">
<h2>The world's largest selection of courses</h2>
<p>Choose from 130,000 online video courses with new additions published every month</p>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item"  role="presentation">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="home" aria-selected="true">Ruby</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#python" role="tab" aria-controls="profile" aria-selected="false">Python</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#javascript" role="tab" aria-controls="contact" aria-selected="false">JavaScript</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#java" role="tab" aria-controls="contact" aria-selected="false">Java</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#php" role="tab" aria-controls="contact" aria-selected="false">PHP</a>
  </li>
</ul>
<div class="tab-content tab-bg" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Placeholder content for the tab panel. This one relates to the home tab. Takes you miles high, so high, 'cause she’s got that one international smile. There's a stranger in my bed, there's a pounding in my head. Oh, no. In another life I would make you stay. ‘Cause I, I’m capable of anything. Suiting up for my crowning battle. Used to steal your parents' liquor and climb to the roof. Tone, tan fit and ready, turn it up cause its gettin' heavy. Her love is like a drug. I guess that I forgot I had a choice.</div>
  <div class="tab-pane fade" id="python" role="tabpanel" aria-labelledby="profile-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sem sed ipsum hendrerit blandit hendrerit at velit. Nullam congue enim eget nisl vestibulum scelerisque. Phasellus pharetra neque vitae finibus eleifend. Aenean id enim varius, scelerisque ipsum id, condimentum nibh. Proin sit amet volutpat orci. Sed leo leo, viverra at mollis ac, venenatis sed magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</div>
  <div class="tab-pane fade" id="javascript" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sem sed ipsum hendrerit blandit hendrerit at velit. Nullam congue enim eget nisl vestibulum scelerisque. Phasellus pharetra neque vitae finibus eleifend. Aenean id enim varius, scelerisque ipsum id, condimentum nibh. Proin sit amet volutpat orci. Sed leo leo, viverra at mollis ac, venenatis sed magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
  <div class="tab-pane fade" id="java" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sem sed ipsum hendrerit blandit hendrerit at velit. Nullam congue enim eget nisl vestibulum scelerisque. Phasellus pharetra neque vitae finibus eleifend. Aenean id enim varius, scelerisque ipsum id, condimentum nibh. Proin sit amet volutpat orci. Sed leo leo, viverra at mollis ac, venenatis sed magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
  <div class="tab-pane fade" id="php" role="tabpanel" aria-labelledby="contact-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sem sed ipsum hendrerit blandit hendrerit at velit. Nullam congue enim eget nisl vestibulum scelerisque. Phasellus pharetra neque vitae finibus eleifend. Aenean id enim varius, scelerisque ipsum id, condimentum nibh. Proin sit amet volutpat orci. Sed leo leo, viverra at mollis ac, venenatis sed magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
</div>
</article>
<section class="my-5">
  <div class="row row-cols-1 row-cols-md-4">
    <% @courses.each do |course| %>
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag course.image.url if course.image? %>
          <div class="card-body">
            <h5 class="card-title"><%= course.title %></h5>
            <p class="card-text"><%= course.description.truncate(70) %></p>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
</section>
<section class="my-5">
<div class="jumbotron jumbotron-fluid text-center recommendations text-light">
  <h2 class="text-light">Get personal learning recommendations</h1>
  <p class="lead">Answer few questions for your top picks </p>
  <a class="btn btn-outline-light btn-lg" href="#" role="button">Get started</a>
</div>
</section>
<section class="my-5">
  <div class="row row-cols-1 row-cols-md-4">
    <% @courses.each do |course| %>
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag course.image.url if course.image? %>
          <div class="card-body">
            <h5 class="card-title"><%= course.title %></h5>
          </div>
        </div>
      </div>
    <% end %>    
  </div>
</section>
<section class="my-5">
  <h2>Featured topics by category </h2>
  <a class="btn btn-info btn-lg" href="#" role="button">Explore more</a>
</section>
<section class="my-5">
  <div class="jumbotron instructors">
    <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2">
    <div class="card bg-dark text-white">
      <img src="..." class="card-img" alt="...">
      <div class="card-img-overlay">
        <h2 class="card-title">Image goes here</h2>
      </div>
      </div>
    </div>
    <div class="col mb-2">
    <div class="card bg-transparent border-0 ml-5">
      <div class="card-body">
        <h2 class="card-title text-left">Become an instructor</h2>
        <p class="card-text">Top instructors from around the world teach millions of students on Udemy. We provide the tools and skills to teach what you love.</p>
        <a href="#" class="btn btn-info">Start searching today</a>
      </div>
    </div>
  </div>
</section>
<section class="my-5">
  <h2>Trusted by companies of all size </h2>
  <a href="#">Company's names go here....</a>
</section>
<section class="my-5">
<div class="jumbotron business">
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-2">
    <div class="card bg-transparent border-0 text-light">
      <div class="card-body">
        <h2 class="card-title text-left text-light">Udemy for Business</h2>
        <p class="card-text">Get unlimited access to 5,000+ of Udemy’s top courses for your team.</p>
        <a href="#" class="btn btn-info">Get Udemy for Business</a>
      </div>
    </div>
    </div>
    <div class="col mb-2">
    <div class="card bg-dark text-white">
      <img src="..." class="card-img" alt="...">
      <div class="card-img-overlay">
        <h2 class="card-title">Image goes here</h2>
      </div>
      </div>
    </div>
  
  </div>
</div>
</section>
<section class="my-5">
<div class="jumbotron jumbotron-fluid border-top border-bottom border-dark bg-transparent">
<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-2">
    <div class="card bg-transparent border-0">
    <img src="..." class="card-img" alt="...">
      <div class="card-img-overlay">
        <h2 class="card-title text-left">Video goes here</h2>
      </div>
    </div>
    </div>
    <div class="col mb-2">
    <div class="card border-0">
      
      <div class="card-body">
        <h2 class="card-title">Transform your life through education</h2>
        <p class="card-text">Mohamad Alaloush launched a new career in software development by taking courses on Udemy. What will you be able to do?</p>
      </div>
      </div>
    </div>
  </div>
</div>
</section>


