<div class="jumbotron jumbotron-fluid bg-info text-white">
  <h1 class="display-4">Welcome to our online courses platform </h1>
  <p class=" center lead">Learn the latest skills to reach your professional goals!</p>
  <div class="container">
    <hr class="my-4">
    <div class="card text-info" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Dream up</h5>
        <p class="card-text">Ambition accepted. Learn the latest skills to reach your professional goals.
        You will find Top instructors from around the world teach millions of students on our app. 
        We provide the tools and skills to teach you what you love.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="What do you want to learn?" aria-label="What do you want to learn" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card float-right">
      <div class="text-hide" style="background-image: url('https://unsplash.com/photos/bzqjws3MZAc');">
      Image of a girl in red dress
      </div>
    </div>
  </div>
</div>
<article class="container">
  <h2 class="mb-2">The world's largest selection of courses</h2>
  <p class="center mb-5">Choose from 130,000 online video courses with new additions published every month</p>
</article>

<section class="courses my-5 py-4">
  <% @courses.in_groups_of(6,false).each do |group| %>
  <div class="row row-cols-1 row-cols-md-6" >
    <% group.each do |course| %>
      <div class="col mb-4">
        <div class="card border-0 course-card">
          <%= image_for(course) %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to course.title, course_path(course) %></h5>
            <p class="card-text"><%= course.description.truncate(70) %></p>
          </div> 
        </div>
      </div>
      <% end %>    
  </div>
<% end %> 
</section>

    <section class="my-5">
      <div class="jumbotron jumbotron-fluid text-center recommendations text-light">
        <h2 class="text-light">Get personal learning recommendations</h1>
        <p class="lead">Answer few questions for your top picks </p>
        <a class="btn btn-outline-light btn-lg" href="#" role="button">Get started</a>
      </div>
    </section>

<section class="my-5">
  <%# <div class="container"> %>
    <h2>Featured topics by category </h2>
      <h3 class="center">(<%=@courses.count%>) Courses available</h3>
        <% @courses.in_groups_of(6,false).each do |group| %>
          <dl class="" >
            <div class="m-3 d-flex flex-row" >
              <% group.each do |c| %>
                <div class="m-2" id="course">
                  <h4><%= c.title if c.title %></h4>
                    <% c.episodes.each do |e|%>
                      <dd Class="p-2 flex-fill"> <%= e.title %></dd>
                    <% end %>
                </div>
              <% end %>
            </div>
          </dl>
        <% end %> 
        <a class="btn btn-info btn-lg m-3" href="#" role="button">Explore more</a>
  <%# </div> %>
</section>
    <section class="my-5">
      <div class="jumbotron instructors">
        <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-2">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h2 class="card-title">Image goes here</h2>
          </div>
          </div>
        </div>
        <div class="col mb-2">
        <div class="card bg-transparent border-0 ml-5">
          <div class="card-body">
            <h2 class="card-title text-left">Become an instructor</h2>
            <p class="card-text">Top instructors from around the world teach millions of students on Here. We provide the tools and skills to teach what you love.</p>
            <a href="#" class="btn btn-info">Start searching today</a>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5">
      <h2>Your testimonies</h2>
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card border-0">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="..." alt="Image">
              <h5 class="card-title">Robert Downey Jr.</h5>
              <h6 class="card-subtitle mb-2 text-muted">Famous Actor</h6>
              <p class="card-text">"Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age."</p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card border-0">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="..." alt="Image">
              <h5 class="card-title">Robert Downey Jr.</h5>
              <h6 class="card-subtitle mb-2 text-muted">Famous Actor</h6>
              <p class="card-text">"Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age."</p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div> 
          </div>
        </div>
        <div class="col mb-4">
          <div class="card border-0">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="..." alt="Image">
              <h5 class="card-title">Robert Downey Jr.</h5>
              <h6 class="card-subtitle mb-2 text-muted">Famous Actor</h6>
              <p class="card-text">"Robert John Downey Jr.'career has included critical and popular success in his youth, followed by a period of substance abuse and legal difficulties, and a resurgence of commercial success in middle age."</p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="my-5">
    <div class="jumbotron jumbotron-fluid border-top border-dark bg-transparent">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-2">
        <div class="card bg-transparent border-0">
        <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h2 class="card-title text-left">Video goes here</h2>
          </div>
        </div>
        </div>
        <div class="col mb-2">
        <div class="card border-0">
          
          <div class="card-body">
            <h2 class="card-title">Transform your life through education</h2>
            <p class="card-text">Modimba Kamalaloush launched a new career in software development by taking courses on Here. What will you be able to do?</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section>


