<footer class=" footer">
    <div class="row">
        <div class="col first">
            <%= link_to "Business", "#", class: "nav-link active" %>
            <%= link_to "Teach on Here", "#", class: "nav-link active" %>
            <%= link_to "Get the app", "#", class: "nav-link active" %>
        </div>
        <div class="col careers">
            <%= link_to "Careers", "#", class: "nav-link" %>
            <%= link_to "Blog", "#", class: "nav-link" %>
            <%= link_to "Help and Support", "#", class: "nav-link" %>
            <%= link_to "Affiliate", "#", class: "nav-link" %>
        </div>
        <div class="col terms">
            <%= link_to "Terms", "#", class: "nav-link active" %>
            <%= link_to "Privacy policy", "#", class: "nav-link active" %>
            <%= link_to "Sitemap", "#", class: "nav-link active" %>
            <%= link_to "Featured courses", "#", class: "nav-link active" %>
            <%= link_to "Cookie settings", "#", class: "nav-link active" %>
        </div>
        <div class="col about">
            <%= link_to "About us", "#", class: "nav-link active" %>
            <%= link_to "Contact us", "#", class: "nav-link active" %>
        </div>
    </div>
    <div class="row">
        <div class="col copy">
            <small>
                <p class="pb-3 center">The <%= link_to "Online Course", "#" %> By Clode U - &copy; 2021 All rights reserved.<p>
            </small>
        </div>
    </div>
</footer>